.quote{
    display: flex;
    flex-direction: column;
    width:600px;
    height: auto;
    padding: 10px;
    margin-top: -10px;
    font-family: "Roboto", sans-serif;
    color: black;
    text-wrap: pretty;
    transition: height 0.5s ease-in-out;
}

.quote-text{
    font-size: 2rem;
    font-weight: bold;
}

.author{
    font-size: 1.75rem;
    text-align: right;
    font-weight: 100;
    font-style: italic;
    margin: 0;
}